{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href= "{% static 'style3.css' %}">
</head>
<body>
        <div class="navbar">
            <div class="subnav">
                <button class="subnavbtn"> Skin and Face <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Skin Rash  </a>
                    <a href="#">Nodal Skin Erruptions  </a>
                    <a href="#">Yellowish skin  </a>
                    <a href="#">Red spots on skin  </a>
                    <a href="#">Dischromic patches  </a>
                    <a href="#">Skin Peeling  </a>
                    <a href="#">Pus filled pimples  </a>
                    <a href="#">Blackheads  </a>
                    <a href="#">Blisters  </a>
                    <a href="#">Itching  </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn"> Muscles and Joints  <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Shivering </a>
                    <a href="#">Chills </a>
                    <a href="#">Joint pain </a>
                    <a href="#">Muscle Pain  </a>
                    <a href="#">Muscle wasting </a>
                    <a href="#">Weakness in Limbs  </a>
                    <a href="#">Neck pain  </a>
                    <a href="#">Fatigue and Dizziness  </a>
                    <a href="#">Knee Pain  </a>
                    <a href="#">Hip Joint Pain  </a>
                    <a href="#">Movement Stiffness  </a>
                    <a href="#">Swelling Joints  </a>
                    <a href="#">Stiff Neck  </a>
                    <a href="#">Muscle Weakness  </a>
                    <a href="#">Weakness of one side of the body  </a>
                    <a href="#">Unsteadiness  </a>
                    <a href="#">Painful walking  </a>
                    <a href="#">Cold Hands and feet  </a>
                    <a href="#">Prominent veins on calf  </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">  Eyes  <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Sunken eyes </a>
                    <a href="#">Pain in the eye </a>
                    <a href="#">Yellowing of eyes </a>
                    <a href="#">Blurred and distorted vision </a>
                    <a href="#">Redness of eyes  </a>
                    <a href="#">Puffy eyes and face </a>
                    <a href="#">Watering from eyes  </a>
                    <a href="#">Visual Disturbances  </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Stomach and Intestines<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Stomach pain  </a>
                    <a href="#">Acidity  </a>
                    <a href="#">Vomiting  </a>
                    <a href="#">Weight Gain  </a>
                    <a href="#">Weight Loss  </a>
                    <a href="#">Indigestion  </a>
                    <a href="#">Loss of Appetite  </a>
                    <a href="#">Constipation  </a>
                    <a href="#">Abdominal Pain </a>
                    <a href="#">Diarrhoea  </a>
                    <a href="#">Bowel Movement Pain </a>
                    <a href="#">Pain in anal region  </a>
                    <a href="#">Obesity  </a>
                    <a href="#">Irritation in anus  </a>
                    <a href="#">Cramps  </a>
                    <a href="#">Bloody Stools  </a>
                    <a href="#">Excessive Hunger  </a>
                    <a href="#">Unable to pass gas  </a>
                    <a href="#">Abnormal Menstruation  </a>
                    <a href="#">Increased Appetite  </a>
                    <a href="#">Stomach Bleeding  </a>
                    <a href="#">Distention of Abdomen  </a>
                    <a href="#">Dehydration </a>
                    <a href="#">Nausea </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Throat and Mouth <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Ulcers on Tongue</a>
                    <a href="#">Patches in throat</a>
                    <a href="#">Throat irritation</a>
                    <a href="#">Drying and Tingling lips  </a>
                    <a href="#">Slurred speech  </a>
                    <a href="#">Altered Sensorium  </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Nose <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Loss of smell</a>
                    <a href="#">Phelgm</a>
                    <a href="#">Runny Nose</a>
                    <a href="#">Sinus Pressure  </a>
                    <a href="#">Mucoid Sputum  </a>
                    <a href="#">Rusty Sputum  </a>
                    <a href="#">Blood in Sputum  </a>
                    <a href="#">Red sore around nose </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Chest <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Chest Congestion</a>
                    <a href="#">Cough</a>
                    <a href="#">Chest Pain</a>
                    <a href="#">Fast Heart Rate  </a>
                    <a href="#">Increased Heart Palipitations  </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Urinary System <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">Spotting Urination</a>
                    <a href="#">Dark Urine</a>
                    <a href="#">Yellow urine</a>
                    <a href="#">Acute Liver Failure  </a>
                    <a href="#">Urinary Bladder Discomfort  </a>
                    <a href="#">Foul smell of urine  </a>
                    <a href="#">Continuous feel of urine  </a>
                    <a href="#">Acute liver failure  </a>
                    <a href="#">Burning Micturition </a>

                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Fever <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#">High Fever </a>
                    <a href="#">Mild Fever </a>
                    <a href="#">Headache </a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn">Emotional Well-Being <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                    <a href="#company">Restlessness</a>
                    <a href="#">Lethargy </a>
                    <a href="#">Depression </a>
                    <a href="#">Irritability  </a>
                    <a href="#">Coma  </a>
                    <a href="#">Anxiety  </a>
                    <a href="#">Mood Swings  </a>

                </div>
            </div>
        </div>
    <div class="diagbx">
        <h3>Please enter your symptoms according to the above mentioned options separated by commas</h3>
        <div class="textbx">
            <form id="myform" class="form" action="diagnosis" method="post">
		    {% csrf_token %}

            <input id="sym" class="Symtoms" type="text" name="symtoms" placeholder="Enter your your symptoms"><br><br>
            <input id="sub" class="submit"  type="submit" value="Submit"/>
            </form>
        </div>

        <div>
            {% for message in messages %}
            <h3> {{message}}</h3>
            {% endfor %}
        </div>

    </div>
</body>

</html>
